@using Microsoft.AspNetCore.Http
@{
    bool Authenticated = false;
    if (Context.Session.GetString("username") != null) { Authenticated = true; }
}
@{
    if (Authenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Archived">Archived</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" asp-page-handler="LogOut" asp-page="/Login">Log Out</a>
        </li>
     }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
        </li>
    }
}
